/* common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-weight: 400;
    color: #606468;
}
h4 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 400;
    color: #3D4144;
}
p {
    color: #606468;
}

a {
    color: #3368D6;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

/* header */

/* nav */
nav {
    position: fixed;
    width: 100%;
    padding: 2px 20px;
    border-bottom: 1px solid #b7b7b8;
    background-color: white;
}

/* nav-top */
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-top .nav-left,
.nav-top .nav-right {
    display: flex;
    align-items: center;
}
.nav-top .nav-left img {
    height: 80px;
    padding-right: 10px;
}
.nav-top .nav-right img {
    width: 50px;
    padding-left: 10px;
    border-radius: 20px;
}
.nav-top .nav-right i {
    font-size: 25px;
    color: #606468;
}

/* nav-bottom */
.nav-bottom .list-inline {
    list-style: none;
}
.nav-bottom .list-inline li {
    display: inline-block;
    padding: 0 0 10px 0;
}
.nav-bottom .list-inline li a {
    padding: 0 15px 0 0;
    font-size: 15px;
    text-decoration: none;
    color: #606468;
}
:focus .nav-bottom .list-inline li a {
    border-bottom: 2px solid #3368D6;
    color: #3368D6;
}

/* main */
main {
    padding-top: 250px;
}

section article ol {
    padding-left: 20px;
    color: #606468;
}
section article li {
    padding-bottom: 20px;
}
section article {
    padding-bottom: 80px;
}


